@import "tailwindcss";
@tailwind utilities;


:root {
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: "League Spartan", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img, video, svg {
  height: auto;
  max-width: 100%;
}

.edit-panel {
  overflow-y: auto;                   /* only vertical scroll */
  -webkit-overflow-scrolling: touch;  /* momentum on iOS/Safari */
  overscroll-behavior: contain;       /* don’t trigger parent scroll */
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-violet:  #9277FF;
  --color-strong-blue:  #1E2139;
  --color-light-blue:   #252945;
  --color-light-gray:   #DFE3FA;
  --color-strong-gray:  #888EB0;
  --color-medium-gray: #858BB2;
  --color-card-gray: #F9FAFE;
  --color-total-gray: #373B53;
  --color-cancel-gray: #F9FAFE;
  --color-purple:       #7E88C3;
  --color-strong-purple:  #7C5DFA;
  --color-dark-1:       #0C0E16;
  --color-dark-2:       #141625;
  --color-orange:       #EC5757;
  --color-salmon:       #FF9797;
  --color-white-custom: #F8F8FB;
}